autopep8==1.5
certifi==2019.11.28
chardet==3.0.4
idna==2.9
pendulum==2.1.0
pkg-resources==0.0.0
pycodestyle==2.5.0
pyTelegramBotAPI==3.6.7
python-dateutil==2.8.1
pytzdata==2019.3
requests==2.20.0
six==1.14.0
telebot==0.0.3
urllib3==1.25.8
